.btn-ice 
{
  padding: 12px 28px;
  border: none;
  border-radius: 50px; 
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.primary 
{
  background-color: #74b9ff;
}

.primary:hover 
{
  background-color: #0984e3; 
  transform: scale(1.05);
}

.danger 
{
  background-color: #ff7675; 
}

.danger:hover 
{
  background-color: #d63031; 
  transform: scale(1.05);
}

.success 
{
  background-color: #55efc4; 
}

.success:hover 
{
  background-color: #00b894; 
  transform: scale(1.05);
}